<!DOCTYPE html>
<html lang="{{ langPrefix }}">
<head>
  <!-- Basic tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Page title -->
  <title>{{ title }}</title>


  <!-- CSS reset or global styles -->
</head>
    <body bgcolor="#ffffff"
    style="margin:0;padding:0;background-color:#ffffff;font-family:'Kurland',cursive,Georgia,'Times New Roman',Times,serif;color:#333">

    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff;padding:20px 0">
        <tbody>
            <tr>
                <td align="center">


                    <table width="500" cellpadding="0" cellspacing="0" border="0"
                        style="background-color:#fafafa;border-radius:16px;overflow:hidden">
                        <tbody>
                            <tr style="background-color:#fafafa">
                                <td align="center" style="padding:20px 0 10px;background-color:#fafafa">

                                    <a href="https://pzkmgq7863nl059v.click.mailersend.net/tl/cws/eyJpdiI6ImlUQXI2WHlRL09hLytEZHJTejRhVnc9PSIsInZhbHVlIjoibEdiTnNzRFcwN2JRLy93M05ZSjhvYWMzbmdzVmd5aTBra0w0bUo5Z0tOSzl5Qk5PRTZ0SEliWTJZME9KenJtK3BwcVQ2TXNGSmhLeVlVOWk5c3REcmZXK1A4S28wMzY3SmswSWphbE90eUt0OXQ0djVlTEllMDFaWGl3L29mS2YiLCJtYWMiOiIxN2FkNjhjNzdhYjgzZjJiNmI2YzYzYzc2YjEwZmEyMzNmYWE5MTQ0MDhmYjA5ZTYwYjljYTZiMmNhZTAwODYxIiwidGFnIjoiIn0,"
                                        style="text-decoration:none;display:inline-block" target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://pzkmgq7863nl059v.click.mailersend.net/tl/cws/eyJpdiI6ImlUQXI2WHlRL09hLytEZHJTejRhVnc9PSIsInZhbHVlIjoibEdiTnNzRFcwN2JRLy93M05ZSjhvYWMzbmdzVmd5aTBra0w0bUo5Z0tOSzl5Qk5PRTZ0SEliWTJZME9KenJtK3BwcVQ2TXNGSmhLeVlVOWk5c3REcmZXK1A4S28wMzY3SmswSWphbE90eUt0OXQ0djVlTEllMDFaWGl3L29mS2YiLCJtYWMiOiIxN2FkNjhjNzdhYjgzZjJiNmI2YzYzYzc2YjEwZmEyMzNmYWE5MTQ0MDhmYjA5ZTYwYjljYTZiMmNhZTAwODYxIiwidGFnIjoiIn0,&amp;source=gmail&amp;ust=1749121012954000&amp;usg=AOvVaw3YxbWICgDWRFNPARbEoFR4">
                                        <img src="{{ logo_url }}"
                                            alt="{{ company_name }}" width="120"
                                            style="display:block;border:none;outline:none;border-radius:50%"
                                        >
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 30px 20px;border-bottom:1px solid #eceff3">

                                </td>
                            </tr>


                            <tr>
                                <td style="height:20px;line-height:20px;font-size:0">&nbsp;</td>
                            </tr>


                            <tr>
                                <td style="padding:0 30px 30px">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td align="center">

                                                    <h2 style="margin:0;font-size:24px;color:#fcc628;line-height:1.2">
                                                        🎉 {{ header }} 🎉
                                                    </h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="padding:15px 0 10px">
                                                    <p style="margin:0;font-size:20px;color:#333;line-height:1.5">
                                                        {{ text_0 }}
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="padding-bottom:20px">
                                                    <h6 style="margin:0;font-size:14px;color:#777">{{ Order + ' ' + order_number }}</h6>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>

                                                                <td valign="top" width="90%" style="padding-right:20px">
                                                                    <h5 style="margin:0 0 10px;font-size:22px;color:#333; text-align: center;">{{ order_details }}</h5>


                                                                    <table width="100%" cellpadding="0" cellspacing="0"
                                                                        border="0"
                                                                        style="border-collapse:collapse;font-size:14px;color:#333">
                                                                        <thead>
                                                                            <tr>
                                                                                <th align="left"
                                                                                    style="padding:8px 0;border-bottom:2px solid #333;font-weight:bold;font-size:20px">
                                                                                    {{ product }}</th>
                                                                                <th align="right"
                                                                                    style="padding:8px 0;border-bottom:2px solid #333;font-weight:bold;font-size:20px">
                                                                                    {{ price }}</th>
                                                                                <th align="right"
                                                                                    style="padding:8px 0;border-bottom:2px solid #333;font-weight:bold;font-size:20px; {{ display }}">
                                                                                    {{ discount }}</th>
                                                                                <th align="right"
                                                                                    style="padding:8px 0;border-bottom:2px solid #333;font-weight:bold;font-size:20px; {{ display }}">
                                                                                    {{ discounted_price }}</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>


                                                                        {% for row in data %}    
                                                                            {% if row.discount %}   
                                                                            {% set line = 'text-decoration: line-through !important;' %}
                                                                            {% else %}
                                                                            {% set line = '' %}
                                                                            {% endif %} 
                                                                            <tr>
                                                                                <td style="padding:8px 0;border-bottom:1px solid #eceff3; width: 250px;">
                                                                                    <a href="{{ main_url + '/' + row.prTitle|hyphen + '&' + row.ptTitle|hyphen }}"
                                                                                        style="color:#333;text-decoration:none;font-size:18px"
                                                                                        target="_blank"
                                                                                    >
                                                                                        {{ row.prTitle + ' ' + row.ptTitle }} (×{{ row.quantity }})
                                                                                    </a>
                                                                                </td>                                                                                
                                                                                <td align="right"
                                                                                    style="padding:8px 0;border-bottom:1px solid #eceff3;font-size:18px; {{ line  }}">
                                                                                    {{ main_currency }} {{ row.price * row.quantity }}
                                                                                </td>
                                                                                <td align="right"
                                                                                style="padding:8px 0;border-bottom:1px solid #eceff3;font-size:18px; {{ display }}">
                                                                                {% if row.discount %}
                                                                                    {{ row.discount }}%
                                                                                {% endif %}
                                                                                </td>
                                                                                <td align="right"
                                                                                style="padding:8px 0;border-bottom:1px solid #eceff3;font-size:18px; {{ display }}">
                                                                                {% if row.discount %}
                                                                                    {{ main_currency }} {{ (row.price - row.price * row.discount / 100) * row.quantity }}
                                                                                {% endif %}
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}




                                                                            <tr>
                                                                                <td
                                                                                    style="padding:12px 0;font-weight:bold;font-size:18px;color:#555;border-top:2px solid #333">
                                                                                    {{ total }}
                                                                                </td>
                                                                                <td
                                                                                    style="padding:12px 0;font-weight:bold;font-size:18px;color:#555;border-top:2px solid #333; {{ display }}">
                                                                                </td>
                                                                                <td
                                                                                    style="padding:12px 0;font-weight:bold;font-size:18px;color:#555;border-top:2px solid #333; {{ display }}">
                                                                                </td>
                                                                                <td align="right"
                                                                                    style="padding:12px 0;font-weight:bold;font-size:18px;color:#555;border-top:2px solid #333">
                                                                                    {{ main_currency }} {{ data[0].final_price }}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>

                                                                <td valign="top" width="40%"
                                                                    style="padding-left:20px;text-align:center">
                                                                        <h5
                                                                            style="margin:0 0 10px;font-size:22px;color:#333">
                                                                            {{ delivery_info }}</h5>
                                                                        <p
                                                                            style="margin:0 0 8px;font-size:18px;line-height:1.5">
                                                                            <strong>{{ data[0].FirstName + ' ' + data[0].LastName }}</strong><br>
                                                                            🏙️ {{ data[0].address }}<br>
                                                                        </p>
                                                                        <p
                                                                            style="margin:0 0 8px;font-size:18px;line-height:1.5">
                                                                            📞 +{{ data[0].phone }}
                                                                        </p>
                                                                    {% if data[0].email %}        
                                                                    <p style="margin:0 0 8px;font-size:18px;line-height:1.5">
                                                                        📧 {{ data[0].email }}
                                                                    </p>
                                                                    {% endif %}  
                                                                    {% if data[0].promo_code%}  
                                                                        <p style="margin:0 0 8px;font-size:18px;line-height:1.5">
                                                                            🎟️ {{ data[0].promo_code }}
                                                                        </p>
                                                                    {% endif %}
                                                                        <p style="margin:0 0 4px;font-size:18px;line-height:1.5">
                                                                            💳 {{ payment_method }}
                                                                        </p>
                                                                        <p
                                                                            style="margin:0;font-size:18px;line-height:1.5">
                                                                            {{ data[0].payment_method }} **** {{ data[0].CMD }}
                                                                        </p>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td align="center" style="padding-top:25px">

                                                    <a href="{{ continue_shopping_url }}"
                                                        style="display:inline-block;background-color:#fcc628;color:#fafafa;text-decoration:none;font-size:18px;font-weight:bold;padding:12px 20px;border-radius:4px;margin-right:10px; margin-bottom: 10px;"
                                                        target="_blank"
                                                    >
                                                    {{ continue_shopping }}
                                                    </a>

                                                    <a href="{{ contact_us_url }}"
                                                        style="display:inline-block;background-color:#fcc628;color:#fafafa;text-decoration:none;font-size:18px;font-weight:bold;padding:12px 20px;border-radius:4px;margin-right:10px; margin-bottom: 10px;"
                                                        target="_blank"
                                                    >    
                                                        {{ contact_us }}
                                                    </a>

                                                    <a href="{{ track_order_url }}"
                                                        style="display:inline-block;background-color:transparent;color:#fcc628;text-decoration:none;font-size:18px;font-weight:bold;padding:12px 20px;border:2px solid #fcc628;border-radius:4px"
                                                        target="_blank"
                                                    >
                                                        {{ track_order }}
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                            <tr>
                                <td style="height:20px;line-height:20px;font-size:0">&nbsp;</td>
                            </tr>


                            <tr>
                                <td style="background-color:#fafafa;padding:20px 30px;border-top:1px solid #eceff3">


                                    <table style="background-color:#fafafa" width="100%" border="0" cellspacing="0"
                                        cellpadding="0" align="center" bgcolor="#efefef">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <table align="center" width="650" border="0" cellspacing="0"
                                                        cellpadding="0" style="width:650px;table-layout:fixed">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top" style="padding:0 25px">
                                                                    <table width="100%" border="0" cellspacing="0"
                                                                        cellpadding="0" align="center">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="20" style="height:20px">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" valign="top">
                                                                                    <table border="0" cellspacing="0"
                                                                                        cellpadding="0" align="center">
                                                                                        <tbody>
                                                                                            <tr>

                                                                                                                                                                                            {% if fb_icon %}
                                                                                            <td width="30"
                                                                                                style="width:30px"
                                                                                                align="center"
                                                                                                valign="middle">
                                                                                                <a href="{{ fb_url }}" target="_blank" style="text-decoration:none">
                                                                                                    <img src="{{ fb_icon }}"
                                                                                                        width="30"
                                                                                                        height="30"
                                                                                                        alt="Fb"
                                                                                                        border="0"
                                                                                                        style="display:block;font-family:Arial,sans-serif;font-size:18px;line-height:25px;text-align:center;color:#000000;font-weight:bold;max-width:30px;margin:0px 3px"
                                                                                                    >
                                                                                                </a>
                                                                                            </td>
                                                                                            {% endif %}

                                                                                            {% if insta_icon %}

                                                                                            <td width="30"
                                                                                                style="width:30px"
                                                                                                align="center"
                                                                                                valign="middle">
                                                                                                <a href="{{ insta_url }}" target="_blank" style="text-decoration:none">
                                                                                                    <img src="{{ insta_icon }}"
                                                                                                        width="30"
                                                                                                        height="30"
                                                                                                        alt="In"
                                                                                                        border="0"
                                                                                                        style="display:block;font-family:Arial,sans-serif;font-size:18px;line-height:25px;text-align:center;color:#000000;font-weight:bold;max-width:30px;margin:0px 3px"
                                                                                                    >
                                                                                                </a>
                                                                                            </td>                                                                                            {% endif %}

                                                                                            {% if youtube_icon %}

                                                                                            <td width="30"
                                                                                                style="width:30px"
                                                                                                align="center"
                                                                                                valign="middle">
                                                                                                <a href="{{ youtube_url }}" target="_blank" style="text-decoration:none">
                                                                                                    <img src="{{ youtube_icon }}"
                                                                                                        width="30"
                                                                                                        height="30"
                                                                                                        alt="Fb"
                                                                                                        border="0"
                                                                                                        style="display:block;font-family:Arial,sans-serif;font-size:18px;line-height:25px;text-align:center;color:#000000;font-weight:bold;max-width:30px;margin:0px 3px"
                                                                                                    >
                                                                                                </a>
                                                                                            </td>                                                                                            {% endif %}

                                                                                            {% if whatsapp_icon %}

                                                                                            <td width="30"
                                                                                                style="width:30px"
                                                                                                align="center"
                                                                                                valign="middle">
                                                                                                <a href="{{ whatsapp_url }}" target="_blank" style="text-decoration:none">
                                                                                                    <img src="{{ whatsapp_icon }}"
                                                                                                        width="30"
                                                                                                        height="30"
                                                                                                        alt="Fb"
                                                                                                        border="0"
                                                                                                        style="display:block;font-family:Arial,sans-serif;font-size:18px;line-height:25px;text-align:center;color:#000000;font-weight:bold;max-width:30px;margin:0px 3px"
                                                                                                    >
                                                                                                </a>
                                                                                            </td>
                                                                                            {% endif %}

                                                                                            {% if telegram_icon %}
                                                                                            <td width="30"
                                                                                                style="width:30px"
                                                                                                align="center"
                                                                                                valign="middle">
                                                                                                <a href="{{ telegram_url }}" target="_blank" style="text-decoration:none">
                                                                                                    <img src="{{ telegram_icon }}"
                                                                                                        width="30"
                                                                                                        height="30"
                                                                                                        alt="Fb"
                                                                                                        border="0"
                                                                                                        style="display:block;font-family:Arial,sans-serif;font-size:18px;line-height:25px;text-align:center;color:#000000;font-weight:bold;max-width:30px;margin:0px 3px"
                                                                                                    >
                                                                                                </a>
                                                                                            </td>
                                                                                            {% endif %}

                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>


                                                                            </tr>


                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="padding:15px;font-size:12px;color:#6c757d">
                                                                                    <a href="{{ main_url }}"
                                                                                        style="text-decoration:none;display:inline-block"
                                                                                        target="_blank"
                                                                                    >
                                                                                        <p style="margin:0">&copy; {{ year }} {{ company_rights }}</p>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>


                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table><span style="display:none"><img
            src="https://ci3.googleusercontent.com/meips/ADKq_NYy-GWmNrguyfGhJAh_AdqNZ5pfgzI_Lv-ivTH-lH3wE3EHt1ItOpnZBh_KsJq22tfeRtuomHZPLD6rOx-FKyOwqeLJuxxCn0pGxGE2YSL0jCOG3i6c356ozVQvXpaYCiH-5i0KlsQZx4hEDA9L7kqCeDaiT82PosQsnW2xCoR5oY4SEmpaG6N0qY8uTAo0PXHniUC-WB_PSUgGSG5n-qFnG-JQIPXgIGIBe8bE7g3QJbDDeQA8m-evhWm2h3464mY-t54wyHltJASTDKKNplykVgOSZUolG9f1JVKbNHvzIyhukJCSXtEgsojJW6bNFrza5JkofH0rmBtmaiPXwjqBRNiW20KV4VwnXBcuMuwzJe09YeqHRM1EutqdU4LWx1Dk71SIdH1eSMD_8RBN69e1FSTf5evkWzlVpKSwiQU9-J8i9X-CreTaMBfrx0XlooLwKElk_xSPQmlSFoHWWglM9kM0EZ5ekE5O8lz1J1EyQ9ruomSciKqmctOX3QTtaINtex0=s0-d-e1-ft#https://pzkmgq7863nl059v.click.mailersend.net/tl/ows/eyJpdiI6InpDOVlpTVptd1ROSmhIaGxVVHI4dEE9PSIsInZhbHVlIjoiNGVWVDJIWmMrb2lSR3VnODF4UUhTaDA2eG1pMEwxd2R5QnhDYU5MU2JlVk9oMHBiT0tQZGxOczczSjA5bis4ekw0Yit5S3hVZ1Z6TFh5ZHFwVjJmenlpaytUamJGblN2cU53ZHFjNWUyc2c9IiwibWFjIjoiYzEyZmQ1NzRhZWJkYjc1YzA5ZjliODhkZDAxNmY2MGZjN2M1NmViZTMyNTcwYWU3ZWU5MWNmNTQzYzk5YjYyOSIsInRhZyI6IiJ9"
            width="1" height="1" alt=""
            style="display:block;height:0px;width:0px;max-width:0px;max-height:0px;overflow:hidden" border="0"
            class="CToWUd" data-bit="iit"></span>
</body>
</html>